.comment_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reply_wrapper {
  display: flex;
}

.reply_wrapper .reply_identifier {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.reply_wrapper .reply_identifier .division {
  height: 10rem;
  width: 1px;
  background-color: hsl(211, 10%, 45%, .2);
}

.comment_wrapper:not(:first-child) {
  margin-top: 1rem;
}
